body {
    background: url("../images/background.jpg");
    color: teal;
    font-family: 'Merienda', cursive;
}

.jumbotron {
    background: palegoldenrod;        
}

.card-deck {
    margin-left: auto;
    margin-right: auto;
}

.card {
    background: palegoldenrod;
}
